.content
    display: grid
    grid-template-columns: repeat(2, auto)
    margin-top: 160px
    margin-left: 50px

    img
        margin-top: -90px
    
#content-text-title
    font-size: 30px
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    margin-bottom: 0

#content-text-paragraph
    font-size: 17px
    font-family: 'Montserrat', sans-serif
    max-width: 400px
    color: $paragraph-gray
    margin: 10px 0
    line-height: 1.8

#content-text-button
    font-family: 'Montserrat', sans-serif
    font-size: 15px
    padding: 21px 35px
    width: 300px
    margin-top: 20px
    border: none
    border-radius: 10px
    background: $document-green
    color: white
    font-weight: 600
    
#trading-fee-content
    border: 2px solid $border-gray
    border-radius: 10px
    width: 300px
    height: 120px

    margin-top: 50px

    h3
        font-family: 'Montserrat', sans-serif
        font-size: 30px
        font-weight: 600
        color: $document-green
        
        margin-top: 11px
        margin-left: 13px
        margin-bottom: 0

    p
        font-family: 'Montserrat', sans-serif
        font-weight: 400
        color: $light-gray
        margin-left: 13px



        