.content
    margin-top: 160px
    margin-left: 50px
    
#content-text-title
    font-size: 30px
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    margin-bottom: 0

#content-text-paragraph
    font-size: 17px
    font-family: 'Montserrat', sans-serif
    max-width: 400px
    color: $paragraph-gray
    margin: 10px 0
    line-height: 1.8

#content-text-button
    font-family: 'Montserrat', sans-serif
    padding: 21px 35px
    width: 300px
    margin-top: 20px
    border: none
    border-radius: 10px
    background: $document-green
    color: white
    font-weight: 600