.main-nav
    display: flex
    align-items: center
    width: 90%
    margin-top: 20px

    li:first-child
        margin-right: auto
        padding: 10px 0

    li
        list-style: none
        font-family: 'Montserrat', sans-serif
        
        a
            color: $light-gray
            padding: 0 20px