.main-nav
    display: flex
    align-items: center
    max-width: 100%
    margin-top: 20px
    text-transform: uppercase

    li:first-child
        margin-right: auto
        padding: 10px 0

    li:nth-child(2), li:nth-child(6), li:nth-child(7)
        a
            color: $document-green

    li:nth-child(7)
        padding: 10px
        border: 1px solid $document-green
        border-radius: 8px
        margin-left: 20px
        margin-right: 20px

    li
        list-style: none
        font-family: 'Montserrat', sans-serif
        font-weight: 400
        -webkit-font-smoothing: subpixel-antialiased
        
        a
            color: $light-gray
            padding: 0 20px

// MEDIA QUERIES
@media only screen and (max-width: 900px)
    .main-nav 
        display: block
        text-align: center

        li:nth-child(7)
            border: none
            margin: 5px auto